---
import { Image } from "astro:assets";
import projects from "../data/projects.json";

import BaseLayout from "../layouts/BaseLayout.astro";

import IconMastercraft from "../assets/logo-mastercraft.svg";
import IconOpenMenu from "../assets/icon-hamburger.svg";
import IconCloseMenu from "../assets/icon-close-menu.svg";
import Button from "../components/Button.astro";
import Bookmark from "../components/Bookmark.astro";
import Project from "../components/Project.astro";
import BrandLogo from "../components/BrandLogo.astro";
---

<BaseLayout title="Crowdfunding Product Page">
  <header class="header">
    <div class="container">
      <div class="header__inner">
        <BrandLogo />
        <button
          id="mobile-nav-toggle"
          class="mobile-nav-toggle"
          aria-controls="primary-nav"
          aria-expanded="false"
        >
          <span class="sr-only">Menu</span>
          <Image src={IconOpenMenu} alt="" class="open-icon" />
          <Image src={IconCloseMenu} alt="" class="close-icon" />
        </button>
        <nav class="primary-nav">
          <ul>
            <li><a class="nav-link" href="#">About</a></li>
            <li><a class="nav-link" href="#">Discover</a></li>
            <li><a class="nav-link" href="#">Get Started</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main>
    <div class="container" data-width="narrow">
      <div>
        <Image src={IconMastercraft} alt="" />
        <h1>Mastercraft Bamboo Monitor Riser</h1>
        <p>
          A beautiful & handcrafted monitor stand to reduce neck and eye strain.
        </p>
        <div>
          <Button renderAs="button">Back this project</Button>
          <Bookmark />
        </div>
      </div>

      <div>
        <div>
          <p><span>$89,914</span> of $100,000 backed</p>
          <p><span>5,007</span> total backers</p>
          <p><span>56</span> days left</p>
        </div>

        <progress max="100" value="70"></progress>
      </div>

      <div>
        <h2>About this project</h2>
        <p>
          The Mastercraft Bamboo Monitor Riser is a sturdy and stylish platform
          that elevates your screen to a more comfortable viewing height.
          Placing your monitor at eye level has the potential to improve your
          posture and make you more comfortable while at work, helping you stay
          focused on the task at hand.
        </p>
        <p>
          Featuring artisan craftsmanship, the simplicity of design creates
          extra desk space below your computer to allow notepads, pens, and USB
          sticks to be stored under the stand.
        </p>
        <div>
          {projects.map((project) => <Project {...project} />)}
        </div>
      </div>
    </div>
  </main>
</BaseLayout>
